# Sample Code

## 基礎建設

In [1]:
import pandas as pd
import gzip, json

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

## 載入資料

In [2]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty.csv
!wget http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles2/meta_All_Beauty.json.gz

--2021-12-25 03:59:10--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty.csv
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15499476 (15M) [application/octet-stream]
Saving to: ‘All_Beauty.csv’

All_Beauty.csv      100%[===================>]  14.78M  71.8MB/s    in 0.2s

2021-12-25 03:59:10 (71.8 MB/s) - ‘All_Beauty.csv’ saved [15499476/15499476]

--2021-12-25 03:59:10--  http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles2/meta_All_Beauty.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10329961 (9.9M) [application/octet-stream]
Saving to: ‘meta_All_Beauty.json.gz’

meta_All_Beauty.jso 100%[===================>]   9.85M  59.8MB/s    in 0.2s

2021-12-25 03:59:10 (59.8 MB/s) - ‘meta_All_Beauty.json.gz’ saved [10329961/10329961]

In [3]:
metadata = getDF('/content/meta_All_Beauty.json.gz')
ratings = pd.read_csv('/content/All_Beauty.csv', names=['asin', 'reviewerID', 'overall', 'unixReviewTime'], header=None)

In [4]:
metadata.head()

  category  ...                                    imageURLHighRes
0       []  ...                                                 []
1       []  ...                                                 []
2       []  ...                                                 []
3       []  ...  [https://images-na.ssl-images-amazon.com/image...
4       []  ...  [https://images-na.ssl-images-amazon.com/image...

[5 rows x 19 columns]

In [5]:
ratings.head()

         asin      reviewerID  overall  unixReviewTime
0  0143026860  A1V6B6TNIC10QE      1.0      1424304000
1  0143026860  A2F5GHSXFQ0W6J      4.0      1418860800
2  0143026860  A1572GUYS7DGSR      4.0      1407628800
3  0143026860   A1PSGLFK1NSVO      5.0      1362960000
4  0143026860   A6IKXKZMTKGSC      5.0      1324771200

## 資料整理

In [24]:
ratings['DATE'] = pd.to_datetime(ratings['unixReviewTime'], unit='s')

## 資料切分

In [25]:
ratings_trainings = ratings[
    (ratings['DATE'] < '2018-09-01')
]
ratings_testings = ratings[
    (ratings['DATE'] >= '2018-09-01') & 
    (ratings['DATE'] <= '2018-09-30')
]
ratings_testings_by_user = ratings_testings.groupby('reviewerID').agg(list).reset_index()[['reviewerID', 'asin']].to_dict('records')
ratings_testings_by_user = { rating['reviewerID']: rating['asin'] for rating in ratings_testings_by_user }
users = list(ratings_testings_by_user.keys())

## 產生推薦

In [151]:
def recommender_top_buy(training_data, users=[], k=10):
    '''
    * training_data: dataframe 輸入的訓練資料集（2018-09-01 以前資料）
    * users: [] 需要被推薦的使用者
    * k: int 每個使用者需要推薦的商品數
    * recommendations: dict
      {
          使用者一： [推薦商品一, 推薦商品二, ...],
          使用者二： [...], ...
      }
    '''
    
    
    sorted_rating = training_data.groupby('asin') \
      .agg({'reviewerID': 'size', 'overall': 'mean'}) \
      .rename(columns={'reviewerID':'count','overall':'mean'}) \
      .reset_index().sort_values(by = ['count'], ascending = False)
    top_recommend = sorted_rating.iloc[0:k].asin.tolist()

    recommendations = {user: top_recommend for user in users}
    
    return recommendations

ratings_by_user_top_buy = recommender_top_buy(ratings_trainings, users)

In [152]:
def recommender_top_rank(training_data, users=[], k=10, metadata=metadata):
    '''
    * training_data: dataframe 輸入的訓練資料集（2018-09-01 以前資料）
    * users: [] 需要被推薦的使用者
    * k: int 每個使用者需要推薦的商品數
    * recommendations: dict
      {
          使用者一： [推薦商品一, 推薦商品二, ...],
          使用者二： [...], ...
      }
    '''
    
    metadata['ranking_result'] = metadata['rank'].apply(lambda x: str(x).replace(',', '').split()[0])
    metadata['ranking_result'][metadata['ranking_result'].str.contains('>')] = 10000000000
    metadata['ranking_result'][metadata['ranking_result'] == '[]'] = 10000000000  
    metadata['ranking_result'] = metadata['ranking_result'].astype(int)
    top_recommend = metadata.sort_values(by = ['ranking_result']).iloc[0:k].asin.tolist()
    
    recommendations = {user: top_recommend for user in users}
    
    return recommendations

ratings_by_user_top_rank = recommender_top_rank(ratings_trainings, users)

## 結果評估

In [154]:
def evaluate(ratings_testings_by_user={}, ratings_by_user={}, method=None):
    '''
    * ratings_testings_by_user: dict 真實被購買的商品資料（2018-09-01 以後資料）
    * ratings_by_user: dict 利用訓練資料學習的推薦商品
    * method: str
    * score: float
    '''
    total = 0
    for d in ratings_testings_by_user:
        if d in ratings_by_user:
            total += len(set(ratings_by_user[d]) & set(ratings_testings_by_user[d]))
    score = total / len(ratings_testings)
    return score

print(evaluate(ratings_testings_by_user, ratings_by_user_top_buy))
print(evaluate(ratings_testings_by_user, ratings_by_user_top_rank))

0.08305084745762711
0.005084745762711864